
{% extends 'base_admin.html' %}
{% block header %}Administration{% endblock %}
{% block links %}
<a style="color: #6899D3;" class="nav-link" href="{% url 'admin_home' %}">Home</a>
<a style="color: #6899D3;" class="nav-link" href="{% url 'home' %}">Back to client</a>
<a style="color: #6899D3;" class="nav-link" href="{% url 'perf_home' %}">Performances</a>
<a style="color: #6899D3;" class="nav-link" href="{% url 'employee' %}">Employees</a>
<a style="color: #6899D3;" class="nav-link" href="{% url 'req_home' %}">Requisite</a>
<a style="color: #6899D3;" class="nav-link" href="{% url 'authorization' %}">Authorization</a>
{% endblock %}
{% block content %}<br><br><br><br><br><h1 align="center" style="font-size:150px">Welcome!</h1>{% endblock %}

