{% extends 'base_employee.html' %}
{% block title %}Employee's roles{% endblock %}
{% block content %}
<table class="table table-hover">
    <div>
        <tr style="color: #CDBEA7">
            <th scope="col">ID</th>
            <th scope="col">Role</th>
            <th scope="col">Performance</th>
            <th scope="col">Fee</th>
        </tr>
    </div>
    {% for el in roles %}
    <div>
        <tr style="color: #fff">
        <th scope="col">{{ el.id }}</th>
        <th scope="col">{{ el.role_id.name }}</th>
        <th scope="col">{{ el.poster_id.performance_id.name }}</th>
        <th scope="col">{{ el.fee }}</th>
        </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}