{% extends 'base_admin.html' %}
{% block header %}Administration{% endblock %}
{% block content %}
<table class="table table-hover">
    <div>
        <tr style="color: #CDBEA7">
            <th scope="col">Date</th>
            <th scope="col">Salary</th>
        </tr>
    </div>
    {% for el in roles %}
    <div>
        <tr style="color: #fff">
        <th scope="col">{{ el.id }}</th>
        <th scope="col">{{ el.salary }}</th>
        </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}