{% extends 'base_employee.html' %}
{% block title %}Employee's salary{% endblock %}
{% block content %}
<table class="table table-hover">
    <div>
        <tr style="color: #CDBEA7">
            <th scope="col">Date (month/year)</th>
            <th scope="col">Salary</th>
        </tr>
    </div>
    {% for el in roles %}

    <div>
        <tr style="color: #fff">
            {% for i in el %}
                <th scope="col">{{ i }}</th>
            {% endfor %}
        </tr>
    </div>

    {% endfor %}
</table>
{% endblock %}