{% extends 'base_admin.html' %}

{% block title %}Performances on going{% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'perf_home' %}">Performances on going</a>{% endblock %}

{% block content %}
    <div style="margin-bottom:20px">
        <h1 style="text-align: center; display: block; color: white; margin-bottom: 50px">Сортувати за:</h1>
        <div style="display: flex; justify-content: center">
            <a href="{% url 'sort_performance_on_going' pk=1 %}"><button>Дата</button></a>
            <a href="{% url 'sort_performance_on_going' pk=2 %}"><button>Назва</button></a>
            <a href="{% url 'sort_performance_on_going' pk=3 %}"><button>Ціна</button></a>
            <a href="{% url 'sort_performance_on_going' pk=4 %}"><button>Ім'я автора</button></a>
            <a href="{% url 'sort_performance_on_going' pk=5 %}"><button>Звичайно</button></a>
        </div>
    </div>
    <div class="features">
        {% if poster %}
            {% for el in poster %}
                <div class="alert alert-warning">
                    <h3>{{ el.performance_id.name }}</h3>
                    <h5>Author: {{ el.performance_id.author }}</h5>
                    <p>Description:{{ el.performance_id.description }}</p>
                    <p>Duration: {{ el.performance_id.duration }}</p>
                    <p>Price: {{ el.performance_id.price }}</p>
                    <p>Genre: {{ el.performance_id.genre_id.genre }}</p>
                    <p>Min age: {{ el.performance_id.rating_id.min_age }}</p>
                    <p>Date: {{ el.date }}</p>
                    <p>Hall: {{ el.hall_id.number }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>no performances yet</p>
        {% endif %}
    </div>
{% endblock %}