{%extends 'base_admin.html'%}

{% block title %} Performance {% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'performance' %}">Performance</a>{% endblock %}

{% block content %}

<form method="post">
        <div style="left:40%; position:fixed; font-size:18px; color: white">
        {% csrf_token %}
        <p>Name: {{ performance.name }}</p>
        <p>Description: {{ performance.description }}</p>
        <p>Duration: {{ performance.duration }}</p>
        <p>Price: {{ performance.price }}</p>
        <p>Genre: {{ performance.genre_id.genre }}</p>
        <p>Minimal age: {{ performance.rating_id.min_age }}</p>
        <span>{{ error }}</span>
                <a href="{% url 'performance_update' performance.id %}" class="btn btn-info">Edit</a>
                <a href="{% url 'performance_delete' performance.id %}" class="btn btn-danger">Delete</a>
            </div>
    </form>

{% endblock %}

