{% extends 'base_admin.html' %}
{% load mathfilters %}

{% block title %}Performances on going{% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'perf_home' %}">Performances on going</a>{% endblock %}

{% block content %}
    <div style="margin-bottom:20px">
        <div style="display: flex; justify-content: center">
            Sort by: &nbsp;
            <a href="{% url 'sort_performance_on_going' pk=1 %}"><button>Date</button></a>
            <a href="{% url 'sort_performance_on_going' pk=5 %}"><button>Date DESC</button></a>
            <a href="{% url 'sort_performance_on_going' pk=2 %}"><button>Name</button></a>
            <a href="{% url 'sort_performance_on_going' pk=6 %}"><button>Name DESC</button></a>
            <a href="{% url 'sort_performance_on_going' pk=3 %}"><button>Price</button></a>
            <a href="{% url 'sort_performance_on_going' pk=7 %}"><button>Price DESC</button></a>
            <a href="{% url 'sort_performance_on_going' pk=4 %}"><button>Author</button></a>
            <a href="{% url 'sort_performance_on_going' pk=8 %}"><button>Author DESC</button></a>
            <a href="{% url 'sort_performance_on_going' pk=0 %}"><button>No sorting</button></a>
        </div>
        <a href="{% url 'create_performance_on_going' %}"><button class="btn btn-info">Create performance on going</button></a>
    </div>
    <div align="center" >
        {% if poster %}
            {% for el in poster %}
                <div style="
                width: 100%; max-width: 600px;
                color: black; background-color: #CDBEA7;
                padding: 5px 10px; border-radius: 20px;
                margin-top:10px; text-align: left;
                line-height: 0.9;">
                    <h3>{{ el.performance_id.name }}</h3>
                    <h5>Author: {{ el.performance_id.author }}</h5>
                    <p>Description: {{ el.performance_id.description }}</p>
                    <p>Duration: {{ el.performance_id.duration|div:60|floatformat:1 }} hrs</p>
                    <p>Price: {{ el.performance_id.price }}</p>
                    <p>Genre: {{ el.performance_id.genre_id.genre }}</p>
                    <p>Minimal age: {{ el.performance_id.rating_id.min_age }}</p>
                    <p>Date and time: {{ el.date }}</p>
                    <p>Hall: {{ el.hall_id.number }}</p>
                    <div align="center"><a href="{% url 'performance_on_going_info' pk=el.id %}"><button class="btn btn-success">Детальніше</button></a></div>
                </div>
            {% endfor %}
        {% else %}
            <p>no performances yet</p>
        {% endif %}
    </div>
{% endblock %}