
{% extends 'base_admin.html' %}
{% load mathfilters %}

{% block title %}Performances{% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'perf_home' %}">Performances</a>{% endblock %}

{% block content %}
    <div style="margin-bottom:20px">
        <div style="display: flex; justify-content: center">
            Sort by: &nbsp;
            <a href="{% url 'sort_performance' pk=1 %}"><button>Name</button></a>
            <a href="{% url 'sort_performance' pk=4 %}"><button>Name DESC</button></a>
            <a href="{% url 'sort_performance' pk=2 %}"><button>Price</button></a>
            <a href="{% url 'sort_performance' pk=5 %}"><button>Price DESC</button></a>
            <a href="{% url 'sort_performance' pk=3 %}"><button>Author</button></a>
            <a href="{% url 'sort_performance' pk=6 %}"><button>Author DESC</button></a>
            <a href="{% url 'sort_performance' pk=0 %}"><button>No sorting</button></a>
        </div>
        <a href="{% url 'create_performance' %}"><button class="btn btn-info">Create performance</button></a>
    </div>
    <div align="center" >
        {% if performances %}
            {% for el in performances %}
                <div style="
                width: 100%; max-width: 600px;
                color: black; background-color: #CDBEA7;
                padding: 5px 10px; border-radius: 20px;
                margin-top:10px; text-align: left;
                line-height: 0.9;">
                    <h3>{{ el.name }}</h3>
                    <h5>Author: {{ el.author }}</h5>
                    <p>Description: {{ el.description }}</p>
                    <p>Duration: {{ el.duration|div:60|floatformat:1 }} hrs</p>
                    <p>Price: {{ el.price }}</p>
                    <p>Genre: {{ el.genre_id.genre }}</p>
                    <p>Minimal age: {{ el.rating_id.min_age }}</p>
                    <div align="center"><a href="{% url 'performance_info' pk=el.id %}"><button class="btn btn-success">Details</button></a></div>
                </div>
            {% endfor %}
        {% else %}
            <p>no performances yet</p>
        {% endif %}
    </div>
{% endblock %}