{% extends 'base_admin.html' %}

{% block title %}Requisite history{% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'req_home' %}">Requisite</a>{% endblock %}

{% block content %}
<h4 align="center" class="lead">Requisite history</h4>
<br><br>
<form method="post" style="color: #fff">
    {% csrf_token %}
    Requisite {{requisiteFilter.form.requisite_id}}
    Name {{requisiteFilter.form.requisite_id__name}}
    <button class="btn btn-primary" type="submit">Search</button>
</form>
<br>
<p><a href="{% url 'create_requisite_his' %}"><button class="btn btn-info">Add record</button></a></p>
<table class="table table-hover">
    <div>
        <tr style="color: #CDBEA7">
            <th scope="col"><a style="color: #fff" href="{% url 'req_his_filter' 1 %}" >Name</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'req_his_filter' 2 %}">Price</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'req_his_filter' 3 %}">Description</a></th>
            <th></th>
        </tr>
    </div>
    {% for el in requisite %}
    <div>
        <tr style="color: #fff">
            <th scope="col">{{el.requisite_id.name}}</th>
            <th scope="col">{{el.price}}</th>
            <th scope="col">{{el.description}}</th>
            <th><a href="{% url 'requisite_his_delete' el.id %}" class="btn btn-danger">Delete</a></th>
        </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}