{%extends 'base_admin.html'%}

{% block title %} Employees {% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'employee' %}">Employees</a>{% endblock %}
{% block content %}
<h4 align="center" class="lead">Employees</h4>
<div style="width:40%" class="feathers">
    <h5 align="left">Search</h5>
    <form method="post" name="search">
        {% csrf_token %}
        <input type="text" name="id" class="form-control" placeholder="ID">
        <br>
        <input type="text" name="name" class="form-control" placeholder="Name">
        <br>
        <input type="text" name="surname" class="form-control" placeholder="Surname"><br>
        <input type="text" name="work_book" class="form-control" placeholder="Work book"><br>
        <button type="submit" name="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<p></p>
<p><a href="{% url 'create_employee' %}"><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Add employee</button></a>
</p>
<br>
<table class="table table-hover">
    <div>
        <tr style="color: #CDBEA7">
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 1 %}" >ID</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 2 %}" >Surname</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 3 %}" >Name</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 4 %}" >Patronymic</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 5 %}" >Work book</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 6 %}" >Email</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 7 %}" >Phone</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 8 %}" >Address</a></th>
            <th scope="col"><a style="color: #fff" href="{% url 'filter_employees' 9 %}" >Date of birth</a></th>
        </tr>
    </div>
    {% for el in employees %}
    <div>
        <tr style="color: #fff">
        <th scope="col"><a href="{% url 'employee_info' el.id %}">{{ el.id }}</a></th>
        <th scope="col">{{ el.first_name }}</th>
        <th scope="col">{{ el.last_name }}</th>
        <th scope="col">{{ el.patronymic }}</th>
        <th scope="col">{{ el.work_book }}</th>
        <th scope="col">{{ el.email }}</th>
        <th scope="col">{{ el.phone }}</th>
        <th scope="col">{{ el.address }}</th>
        <th scope="col">({{ el.date_of_birth }})</th>
        </tr>

    </div>

    {% endfor %}
</table>
{% endblock %}