{%extends 'base.html'%}

{% block title %} Employee {% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'employee' %}">Employees</a>{% endblock %}

{% block content %}

<form method="post">
        <div style="left:40%; position:fixed; font-size:18px">
        {% csrf_token %}
        Id: {{ employee.id }}<br><br>
        Full name: {{ employee.first_name }} {{ employee.last_name }} {{ employee.patronymic }}<br><br>
        Phone: {{ employee.phone }}<br><br>
        Work book: {{ employee.work_book }}<br><br>
        Email: {{ employee.email }}<br><br>
        Address: {{ employee.address }}<br><br>
        Date of birth: {{ employee.date_of_birth }}<br><br>
        <span>{{ error }}</span>
                <a href="{% url 'employee_update' employee.id %}" class="btn btn-info">Edit</a>
                <a href="{% url 'employee_delete' employee.id %}" class="btn btn-danger">Delete</a>
            </div>
    </form>

{% endblock %}