{% extends 'base.html' %}

{% block title %}Employees{% endblock %}

{% block header %}Employees{% endblock %}

{% block content %}
<div>
    <main class="text-center" >
    <p class="lead">Menu</p>
        <p></p>
        <div><a class="menu_link" href="employees/" class="btn-link">Employees</a></div>
        <div><a class="menu_link" href="hiring/" class="btn-link">Hiring</a></div>
        <div><a class="menu_link" href="roles/" class="btn-link">Roles</a></div>
        <div><a class="menu_link" href="positions/" class="btn-link">Positions</a></div>
        <div><a class="menu_link" href="roles_list/" class="btn-link">Roles list</a></div>
  </main>
</div>
{% endblock %}