{%extends 'base_admin.html'%}

{% block title %} Employees {% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'employee' %}">Employees</a>{% endblock %}

{% block content %}
<h4 align="center" class="lead">Positions</h4>
<p></p>
<div style="width:60%" class="feathers">
    <h5 align="left">Search</h5>
    <form method="post" name="search">
        {% csrf_token %}
        <input type="text" name="id" class="form-control" placeholder="ID"><br>
        <input type="text" name="position" class="form-control" placeholder="Position"><br>
        <button type="submit" name="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<p><a href="{% url 'create_position' %}"><li></li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Add position</button></a></p>
<p><a href="{% url 'sort_positions_id_asc' %}"><button>Id asc</button></a>
    <a href="{% url 'sort_positions_id_desc' %}"><button>Id desc</button></a>
<a href="{% url 'sort_positions_name_asc' %}"><button>Name asc</button></a>
    <a href="{% url 'sort_positions_name_desc' %}"><button>Name desc</button></a></p>
<table class="table table-hover">
    <div>
        <tr style="color: #CDBEA7">
            <th scope="col">ID</th>
            <th scope="col">Position</th>
        </tr>
    </div>
    {% for el in positions %}
    <div>
        <tr style="color: #fff">
        <th scope="col"><a href="{% url 'positions_info' el.id %}">{{ el.id }}</a></th>
        <th scope="col">{{ el.position }}</th>
        </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}