{%extends 'base.html'%}

{% block title %} Employees {% endblock %}

{% block header %}<a style="color: #fff" href="{% url 'employee' %}">Employees</a>{% endblock %}

{% block content %}
<h4 align="center" class="lead">Positions</h4>
<p></p>
<div style="width:60%" class="feathers">
    <h5 align="left">Search</h5>
    <form method="post" name="search">
        {% csrf_token %}
        <input type="text" name="id" class="form-control" placeholder="ID"><br>
        <input type="text" name="name" class="form-control" placeholder="Name"><br>
        <input type="text" name="performance" class="form-control" placeholder="Performance"><br>
        <button type="submit" name="submit" class="btn btn-primary">Search</button>
    </form>
</div>
<p><a href="{% url 'create_role_list' %}"><li></li><button class="btn btn-info"><i class="fas fa-plus-circle"></i>Add role</button></a></p>
<table class="table table-hover">
    <div>
        <tr style="color: #CDBEA7">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Performance</th>
        </tr>
    </div>
    {% for el in roles %}
    <div>
        <tr style="color: #fff">
        <th scope="col"><a href="{% url 'roles_list_info' el.id %}">{{ el.id }}</a></th>
        <th scope="col">{{ el.name }}</th>
        <th scope="col">{{ el.performance_id.name }}</th>
        </tr>
    </div>
    {% endfor %}
</table>
{% endblock %}