{% extends 'base.html' %}
{% load mathfilters %}

{% block title %}Hot tickets{% endblock %}
{% block header %}<a href="{% url 'ticketStore_main' %}" style="color: #fff">Performances</a>{% endblock %}

{% block content %}
    <style>
        h1 {
            float: centre;
            color: #dce3fa;
            text-align: centre;
            text-align: centre;
        }
    </style>
    <h1 align="center">Hot tickets</button></h1>
    <div align="center">
        {% if poster %}
            {% for h in hot_posters_id %}
                {% for el in poster %}
                    {% if el.id == h %}
                        <div style="
                width: 100%; max-width: 500px;
                color: black; background-color: #CDBEA7;
                padding: 5px 10px; border-radius: 20px;
                margin-top:10px; text-align: left;
                line-height: 0.75;">
                            <h3>{{ el.performance_id.name }}</h3>
                            <h5>Author: {{ el.performance_id.author }}</h5>
                            <p>{{ el.performance_id.description }}</p>
                            <p>Date: {{ el.date }}</p>
                            <p>Duration: {{ el.performance_id.duration|div:60|floatformat:1 }} hrs</p>
                            <p>Price: {{ el.performance_id.price }}</p>
                            <p><a href="{% url 'ticketStore_performance' el.id %}"><button class="btn btn-warning">Buy tickets</button></a></p>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <p>No hot performances yet</p>
        {% endif %}
    </div>

{% endblock %}